
  
  .header .navbar {
  
    padding: 10px 0px;
  
    line-height: 50px;

    background:   linear-gradient(
      #62C38C,
      rgba(44, 112, 112, 0.45)
      
    )
  
  }

  .navLink {
      color: black;
      font-size: large;
  }
  
  .header.sticky {
  
    position: absolute;
  
    top: 0;
  
    left: 0;
  
    width: 100%;
  
    z-index: 91;
  
  }
  
  .header.sticky .navbar {
  
    position: fixed;
  
    top: 0;
  
    left: 0;
  
    padding: 10px 15px;
  
    width: 100%;
  
    background: linear-gradient(
      #62C38C,
      rgba(44, 112, 112, 0.45)
      
    );
  
    box-shadow: 0px 6px 13px 0px rgb(0 0 0 / 6%);
  
    opacity: 0;
  
    -webkit-animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
  
    animation: fadeInDown .95s ease-in-out 0s 1 normal none running;
  
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
  
    transition: all .3s cubic-bezier(.645,.045,.355,1);
  
    opacity: 1;
  
    -webkit-transform: translateY(0%);
  
            transform: translateY(0%);
  
  }

  .logo {
    margin-right: 500px;
  }

  .jumbotron{
    margin:15px 30px 0px 30px;
    border-radius:10px;
      background: 
  linear-gradient(
    rgba(125, 250, 250, 0.45),
    #62C38C
  )
  }
  
  .customButton {
    background-color: #62C38C;
  }

  .customButton:hover {
    background-color: #72FCD0;
  }

  .whiteText {
    color: white;;
  }